
.ratings i {
    font-size: 16px;
    color: yellow;
}

.strike-text {
    color: red;
    text-decoration: line-through;
}

.product-image {
    width: 100%;
    image-rendering: pixelated;
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
}

.spec-1 {
    color: #938787;
    font-size: 15px;
}

h5 {
    font-weight: 400;
}

.para {
    font-size: 12px;
}
.border-voucher{
    border: 1px solid rgba(0, 0, 0, 0.22);
}
.rounded {
    border-radius: .25rem;
}
.p-2{
    padding: 0.5rem;
}
.row-voucher {
    display: flex;
    flex-wrap: wrap;
    margin-right: -130px;
    margin-left: 40px;
    padding-top: 25px;
    margin-bottom: 10px;
}
.btn-voucher{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.d-flex {
    
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.mt-2, .my-2 {
    margin-top: 0.5rem;
}
.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}
.mt-4, .my-4 {
    margin-top: 1.5rem;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.text-success {
    color: #28a745;
    font-size: 1rem;
}
.align-items-center {
    -ms-flex-align: center;
    align-items: center;
}
.mr-1, .mx-1 {
    margin-right: .5rem;
}
.mr-1{
    font-size: 20px;
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #45ebd4;
    font-weight: 800;
    font-size: 20px;
    margin-left: 35px;
}
.voucher__Name{
    font-size: 1.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
.mt-1, .my-1 {
    margin-top: 0rem!important;
}
.icon_user-voucher{
    color: #1accfd;
}
.bottom-voucher{
    align-items: baseline;
}
.text-truncate-history{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #45ebd4;
    font-weight: 800;
    font-size: 20px;
}